<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>

      <user-info-display></user-info-display>

    <ion-title>Dinner</ion-title>


  </ion-navbar>
</ion-header>

<datalist id="userlist">
  <option *ngFor="let user of stateProvider.users" value="{{user.name}}">
</datalist>

<ion-content padding>
  <ion-list class="assign-list">
    <div ion-item *ngFor="let task of stateProvider.tasks.dinner">  <!-- (click)="taskClicked($event, task)"> -->
      <h3>{{task.name}}</h3>
      
      <ion-badge *ngIf="task.winners.length < 1" color="danger" item-end>Impending starvation!</ion-badge>
      <!-- <p item-end class="assignees"><ion-badge color="light" *ngFor="let winner of task.winners" (click)="this.stateProvider.selectUser(winner)">{{ this.stateProvider.getUserName(winner) }}</ion-badge></p> -->

      <ion-searchbar placeholder="Add assignee"></ion-searchbar>
      <ion-list inset>
        <div ion-item *ngFor="let winner of task.winners">{{this.stateProvider.getUserName(winner) }}</div>

      </ion-list>
    </div>
  </ion-list>
</ion-content>
